* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 15px;
}
body {
  width: 100vw;
  height: 100vh;
  color: hsl(0, 0%, 95%);
  padding: 6.25em 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  color: hsl(0, 0%, 95%);
  font-family: 'Big Shoulders Display', cursive;
  font-size: 2.7rem;
  text-transform: uppercase;
}

p {
  color: hsla(0, 0%, 100%, 0.75);
  font-family: 'Lexend Deca', sans-serif;
  line-height: 1.9em;
}

.card {
  width: 87%;
  max-width: 326px;
  display: flex;
  flex-direction: column;
  border-radius: 0.8em;
  background-color: white;
}

.card-section {
  height: 440px;
  padding: 2.2em 3em 2em;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.card-section-sedan {
  background-color: hsl(31, 77%, 52%);
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
}
.card-section-suv {
  background-color: hsl(184, 100%, 22%);
}
.card-section-luxury {
  background-color: hsl(179, 100%, 13%);
  border-bottom-left-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
}

.car-icon {
  width: 65px;
  height: 40px;
}

button {
  height: 45px;
  width: 140px;
  font-size: 1em;
  letter-spacing: 0.04rem;
  font-weight: 600;
  border-radius: 2em;
  background-color: hsl(0, 0%, 95%);
  border: 1px solid hsl(0, 0%, 95%);
}

.card-section-sedan > button {
  color: hsl(31, 77%, 52%);
}
.card-section-suv > button {
  color: hsl(184, 100%, 22%);
}
.card-section-luxury > button {
  color: hsl(179, 100%, 13%);
}

@media only screen and (min-width: 1024px) {
  p {
    font-size: 0.85em;
    padding-bottom: 4.5em;
  }
  h1 {
    font-size: 2.3rem;
    letter-spacing: 0.04rem;
  }

  body {
    justify-content: center;
    padding: 0;
  }

  .card {
    width: 80vw;
    max-width: 808px;
    height: 425px;
    flex-direction: row;
  }

  .card-section {
    height: 100%;
    width: 33.3%;
    border-radius: 0;
    padding: 1em 3.4em 0.6em 2.55em;
  }

  .card-section-sedan {
    border-top-left-radius: 0.5em;
    border-bottom-left-radius: 0.5em;
  }
  .card-section-luxury {
    border-top-right-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
    padding-right: 3.3em;
  }
}
